<html ng-app="app">
<head>
  <meta charset='UTF-8'>
  <!-- load CDN -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.1/angular.min.js"></script>
  <!--bootstrap css stuff-->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <!-- end of bootstrap css -->

  <base ng-href="window.location.href" />
  <link type="text/css" rel="stylesheet" href="assets/style.css">
  <!-- javascript libraries -->
  <script src="scripts/global.js"></script>
  <script src="scripts/factory.js"></script>
  <script src="scripts/service.js"></script>
  <script src="scripts/controller.js"></script>
  <script src="scripts/directive.js"></script>
</head>
<body>
  <div id="spinner" class="spinner" ng-show="spinnerIsMoving">
    <img id="img-spinner" src="assets/images/spinner.gif" alt="Loading"/>
  </div>
  <div class='container' >
    <h1>Ajax request sender</h1>
    <div class='row' ng-controller="senderCtrl">
      <div class='col-sm-6'>
        <form ng-init="initializeVariables()">
          <div class='form-group'>
            <label for="requestUrl">Request URL</label>
            <input required type="text" ng-model="requestUrl" class="form-control"/>
          </div>
          <div class='form-group'>
            <label for="indentWidth">Indentation width in pixels</label>
            <input required type="text" ng-model="styleOptions.indentWidth" class="form-control"/>
          </div>
          <div class='form-group'>
          <label for="requestType">Request Type / HTTP Verb</label>
            <select required ng-model='requestType' class="form-control">
              <option ng-repeat="x in possibleRequestTypes" value="{{ x }}" ng-bind="x.toUpperCase()" class="form-control"></option>
            </select>
          </div>
          <div class='form-group'>
            <label for="requestParameters">Request parameters</label>
            <p>If your request does not permit the sending of any parameters (eg: GET / DELETE requet), your paramteres will be entered as a query string. Note, it will be escaped, eg: special characters will be converted to relevant hex code.</p>
            <ul style="padding-left : 0px">
              <form class="form-inlines">
                <li ng-repeat="param in requestParameters" style="list-style-type : none">
                  <p>params {{ $index + 1 }}</p>
                  <div class='form-group'>
                    <input placeholder="key of parameter" placeholder="key of your parameter" type="text" ng-model="param.key" class="form-control form-inline"/>
                  </div>
                  <div class='form-group'>
                    <input placeholder="value of parameter" placeholder="value of your parameter" type="text" ng-model="param.value" class="form-control form-inline"/>
                  </div>
                  <div class='form-group'>
                    <button ng-click="removeRequestParams($index)" class="btn btn-danger">Delete Parameter</button>
                  </div>
                </li> 
              </form>
            </ul>
            <button ng-click="addRequestParams()" onclick="return false" class="btn btn-info" >Add Request Parameter</button>
          </div>
          <button ng-click="submit()" onclick="return false" class="btn btn-success">Submit</button>  
        </form> 
      </div>
      <div class='col-sm-6'>
        <div class='alert alert-danger' ng-show="errors">
          <ul>
            <li ng-repeat="err in errors">{{ err }}</li>
          </ul>
        </div>
        <div class="message-displayer">
          <p ng-repeat="message in messages" ng-style="message.style(styleOptions)">{{ message.toString() }}</p>     
        </div>
      </div>
        
    </div>
  </div>
  


</body>
</html>