<html ng-app="app">
<head>
  <meta charset='UTF-8'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.1/angular.min.js"></script>
  <script src="scripts/global.js"></script>
  <script src="scripts/controller.js"></script>
  <script src="scripts/directive.js"></script>
</head>
<body>
  <h1>Ajax request sender</h1>
  <form ng-controller="senderCtrl"  ng-init="initializeVariables()">
    <div class='form-group'>
      <label for="requestUrl">Request URL</label>
      <input required type="text" ng-model="requestUrl" />
    </div>
    <div class='form-group'>
      <label for="indentWidth">Indentation width in pixels</label>
      <input required type="text" ng-model="indentWidth" />
    </div>
    <div class='form-group'>
    <label for="requestType">Reqquest Type / HTTP Verb</label>
      <select required ng-model='requestType'>
        <option ng-repeat="x in possibleRequestTypes" value="{{ x }}" ng-bind="x.toUpperCase()"></option>
      </select>
    </div>
    <div class='form-group'>
      <label for="requestParameters">Request parameters</label>
      <ul>
        <li ng-repeat="param in requestParameters">
          <input placeholder="key of parameter" type="text" ng-model="param.key" focus-me="true" />
          <input placeholder="value of parameter" type="text" ng-model="param.value" />
          <button ng-click="removeRequestParams($index)">Delete Parameter</button>
        </li> 
      </ul>
      <button ng-click="addRequestParams()" onclick="return false">Add Request Parameter</button>
    </div>
    <button ng-click="submit()" onclick="return false">Submit</button>
    <div>
      <p ng-repeat="message in messages" ng-style="message.width_style()">{{ message.content }}</p>     
    </div>  
  </form> 
</body>
</html>